<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/OldiOS.Shared/app.css" />
    <link rel="stylesheet" href="OldiOS.Web.styles.css" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    <Routes @rendermode="InteractiveWebAssembly" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/OldiOS.Shared/js/app-animations.js"></script>
    <script src="_content/OldiOS.Shared/js/utils.js"></script>
    <script src="_content/OldiOS.Shared/js/battery.js"></script>
    <script>
        window.getElementWidth = (element) => {
            return element.getBoundingClientRect().width;
        };
    </script>
</body>

</html>
