/* iOS 5 Status Bar Styles */

.status-bar {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative;
    z-index: 100;
    font-size: 28px;
    font-weight: bold;
    border-style: solid;
    border-width: 4px;
    border-image-source: url(/_content/OldiOS.Shared/images/status/translucent_base.png);
    border-image-slice: 4 fill;
    border-image-repeat: stretch;
}

/* Default style - semi-transparent for home screen */
.status-bar-white-on-black-etch{
    color: rgba(255,255,255,0.8);
    text-shadow: 0 1px 2px rgba(0,0,0,0.8);
}
.status-bar-white-on-black-etch .wifi-icon,
.status-bar-white-on-black-etch .battery-icon {
    opacity: 0.8;
}

.status-bar-white-on-black-shadow {
    color: rgba(255,255,255,0.8); 
}

    .status-bar-white-on-black-shadow .wifi-icon,
    .status-bar-white-on-black-shadow .battery-icon {
        opacity: 0.8;
    }

/* Coloured style - for apps */
.status-bar-coloured {
    border-image-source: url(/_content/OldiOS.Shared/images/status/silver_base.png);
    background-color: #000000;
    color: black;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8), 0 2px 0 rgba(255,255,255,0.4);
}

/* Left section - Carrier and WiFi */
.status-bar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.carrier-text {
}

.wifi-icon {
    height: 40px;
    width: 40px;
    display: block;
}

/* Center section - Time */
.status-bar-center {
    flex: 0 0 auto;
    text-align: center;
}

.time-text {
}

/* Right section - Battery */
.status-bar-right {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1;
    justify-content: flex-end;
}

.battery-percentage {
    font-size: 24px;
    line-height: 1;
}

.battery-icon {
    /* This is now the container for the frame */
    width: 42px; /* Adjust to the actual width of your battery_draining.png */
    height: 40px; /* Adjust to the actual height */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; /* For positioning the fill */
    display: inline-block;
    vertical-align: middle;
}

.battery-fill {
    /* This is the inner fill element */
    position: absolute;
    top: 0px; /* Adjust to fit inside the frame */
    left: 2px; /* Adjust to fit inside the frame */
    height: 40px; /* calc(100% - 4px); */ /* Adjust to fit inside the frame */
    background-repeat: repeat-x;
    background-size: auto 100%;

    border-style: solid;
    border-width: 2px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-image-slice: 0 2 0 2 fill;
    border-image-repeat: stretch;
}
.status-bar-white-on-black-etch .battery-fill {
    left: 4px; 
}

/* Optimize image rendering for icons */
.wifi-icon,
.battery-icon {
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
}
