.mail-app {
    position: relative;
    width: 100%;
    height: 100%;
    background: #c5ccd4;
    display: flex;
    flex-direction: column;
}

.mail-content {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 88px;
}
