.more-root {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
}

.more-footer {
    padding: 40px 20px;
    text-align: center;
}

.footer-text {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
}
