@using OldiOS.Shared.Models
@using OldiOS.Shared.Services

<div class="app-icon@(InDock ? " in-dock" : "")" @onclick="HandleClick">
    <div class="icon-shadow"></div>
    <div class="icon-image" style="background-image: url(@App.IconPath)"></div>
    <!-- Reflection shown only when InDock -->
    <div class="icon-reflection" style="background-image: url(@App.IconPath)"></div>
    <span>@App.Name</span>
</div>

@code {
    [Parameter]
    public required AppInfo App { get; set; }
    
    [Parameter]
    public EventCallback<AppInfo> OnAppClick { get; set; }

    [Parameter]
    public bool InDock { get; set; } = false;

    private async Task HandleClick()
    {
        await OnAppClick.InvokeAsync(App);
    }
}