@using OldiOSExperience.Models
@inject IJSRuntime JSRuntime

<div @ref="iconElement" class="app-icon" @onclick="HandleClick">
    <div class="icon-image" style="background-image: url(@App.IconPath)"></div>
    <span>@App.Name</span>
</div>

@code {
    [Parameter]
    public required AppInfo App { get; set; }
    
    [Parameter]
    public EventCallback<AppInfo> OnAppClick { get; set; }
    
    private ElementReference iconElement;

    private async Task HandleClick()
    {
        await OnAppClick.InvokeAsync(App);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Calculate and set the scatter vector for this specific icon
            await JSRuntime.InvokeVoidAsync("calculateScatterVector", iconElement);
        }
    }
}