@using OldiOSExperience.Models

<div class="app-icon" @onclick="HandleClick">
    <div class="icon-image" style="background-image: url(@App.IconPath)"></div>
    <span>@App.Name</span>
</div>

@code {
    [Parameter]
    public required AppInfo App { get; set; }
    
    [Parameter]
    public EventCallback<AppInfo> OnAppClick { get; set; }
    
    private async Task HandleClick()
    {
        await OnAppClick.InvokeAsync(App);
    }
}