@* iOS 5 UIActivityIndicator Component - Loading Spinner *@
@using OldiOS.Shared.Apps.UIKit

<div class="uiactivity-indicator @SizeClass @(IsAnimating ? "animating" : "")">
    <div class="spinner">
        @for (int i = 0; i < 12; i++)
        {
            <div class="spinner-line" style="transform: rotate(@(i * 30)deg); animation-delay: @(i * 0.083)s"></div>
        }
    </div>
</div>

@code {
    [Parameter]
    public bool IsAnimating { get; set; } = true;
    
    [Parameter]
    public UIActivityIndicatorSize Size { get; set; } = UIActivityIndicatorSize.Medium;
    
    private string SizeClass => Size switch
    {
        UIActivityIndicatorSize.Small => "small",
        UIActivityIndicatorSize.Medium => "medium",
        UIActivityIndicatorSize.Large => "large",
        _ => "medium"
    };
}
