@* iOS 5 UINavigationBar Component *@
@using OldiOS.Shared.Apps.UIKit

<div class="uinavigationbar">
    <div class="navbar-left">
        @if (!string.IsNullOrEmpty(BackButtonText))
        {
            <button class="navbar-back-button" @onclick="OnBackClick"> 
                <span class="back-text">@BackButtonText</span>
            </button>
        }
        else if (!string.IsNullOrEmpty(LeftButtonText))
        {
            <button class="navbar-button" @onclick="OnLeftButtonClick">
                @LeftButtonText
            </button>
        }
        else if (LeftContent != null)
        {
            @LeftContent
        }
    </div>
    
    <div class="navbar-title">
        @Title
    </div>
    
    <div class="navbar-right">
        @if (RightContent != null)
        {
            @RightContent
        }
        else if (!string.IsNullOrEmpty(RightButtonText))
        {
            <button class="navbar-button" @onclick="OnRightButtonClick">
                @RightButtonText
            </button>
        }
    </div>
</div>

@code {
    [Parameter]
    public required string Title { get; set; } = "";
    
    [Parameter]
    public string BackButtonText { get; set; } = "";
    
    [Parameter]
    public EventCallback OnBackClick { get; set; }
    
    [Parameter]
    public string LeftButtonText { get; set; } = "";
    
    [Parameter]
    public EventCallback OnLeftButtonClick { get; set; }
    
    [Parameter]
    public string RightButtonText { get; set; } = "";
    
    [Parameter]
    public EventCallback OnRightButtonClick { get; set; }
    
    [Parameter]
    public RenderFragment? LeftContent { get; set; }
    
    [Parameter]
    public RenderFragment? RightContent { get; set; }
}
