/* iOS 5 UINavigationBar Styles */

.uinavigationbar {
    height: 88px;
    min-height: 88px;
    /*    background: linear-gradient(to bottom, #b0b9c5 0%, #8e98a6 50%, #6d7886 51%, #4e5866 100%);*/
    background-image: url(images/uikit/UINavigationBar_bg.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #2d3845;
    position: relative;
}

.navbar-left,
.navbar-right {
    flex: 1;
    display: flex;
}

.navbar-right {
    justify-content: flex-end;
}

.navbar-title {
    flex: 2;
    text-align: center;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5);
}

/* Title slide and fade animations */
.navbar-title.title-slide-out-left {
    animation: titleSlideOutLeft 300ms ease-out forwards;
}

.navbar-title.title-slide-in-right {
    animation: titleSlideInRight 300ms ease-out forwards;
}

.navbar-title.title-slide-out-right {
    animation: titleSlideOutRight 300ms ease-out forwards;
}

.navbar-title.title-slide-in-left {
    animation: titleSlideInLeft 300ms ease-out forwards;
}

@keyframes titleSlideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-50px);
        opacity: 0;
    }
}

@keyframes titleSlideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes titleSlideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(50px);
        opacity: 0;
    }
}

@keyframes titleSlideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Button fade-in animation */
.navbar-left.fade-in,
.navbar-right.fade-in {
    animation: buttonFadeIn 300ms ease-out;
}

@keyframes buttonFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.navbar-back-button,
.navbar-button {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 8px;
    gap: 5px;
    border-style: solid;
    border-width: 10px;
    border-image-source: url(images/uikit/UINavigationBar_button.png);
    border-image-slice: 10 fill;
    border-image-repeat: stretch;
    background-color: transparent;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0 -2px 0 rgba(0, 0, 0, 0.5);
    transition: border-image-source 0.1s ease;
    /*doesn't centre in navbar properly, offset by a pixel works, (todo: test other browsers other than chrome)*/
    position: relative;
    top: 1px;
}

.navbar-back-button:active,
.navbar-button:active {  
    border-image-source: url(images/uikit/UINavigationBar_button_pressed.png);
}


.navbar-back-button {
    border-left-width: 29px;
    border-image-source: url(images/uikit/UINavigationBar_button_back.png);
    border-image-slice: 10 10 10 29 fill;
}
.navbar-back-button:active {  
    border-image-source: url(images/uikit/UINavigationBar_button_back_pressed.png);
}

.back-chevron {
    font-size: 48px;
    font-weight: 300;
    line-height: 1;
}

.back-text {
    line-height: 1;
}
