@* iOS 5 UISwitch Component - Standalone Toggle Switch *@

<label class="uiswitch @(Disabled ? "disabled" : "")" style="@SwitchStyle">
    <input type="checkbox" 
           checked="@Value" 
           disabled="@Disabled"
           @onchange="HandleChange" />
    <span class="switch-slider">
        <span class="switch-slider-inner"></span>
        <span class="slider-knob"></span>
    </span>
</label>

@code {
    [Parameter]
    public bool Value { get; set; } = false;
    
    [Parameter]
    public EventCallback<bool> ValueChanged { get; set; }
    
    [Parameter]
    public bool Disabled { get; set; } = false;
    
    [Parameter]
    public EventCallback<bool> OnChange { get; set; }
    
    [Parameter]
    public string? OnTrackColor { get; set; }

    private string? SwitchStyle => OnTrackColor is not null ? $"--uiswitch-on-track-color: {OnTrackColor}" : null;

    private async Task HandleChange(ChangeEventArgs e)
    {
        if (!Disabled)
        {
            var newValue = (bool)(e.Value ?? false);
            await ValueChanged.InvokeAsync(newValue);
            await OnChange.InvokeAsync(newValue);
        }
    }
}
