/* iOS 5 UISwitch Styles */

.uiswitch {
    position: relative;
    display: inline-block;
    width: 154px;
    height: 54px;
    cursor: pointer;
    border-radius: 56px;
    overflow: hidden;
}

    .uiswitch:after {
        content: "";
        position: absolute;
        right: -2px;
        left: -2px;
        top: 0;
        bottom: 0;
        z-index: 1;
        background-image: url(_content/OldiOS.Shared/images/uikit/UISwitch_shape_shadow.png); 
        mix-blend-mode:normal;
    }

.uiswitch.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.uiswitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EEEEEE;
    transition: .3s;
    border-radius: 56px;
}

/* OFF text */
.switch-slider:after {
    content: "OFF";
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    color: #8e8e93;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    transition: opacity 0.3s;
}

/* ON text */
.switch-slider:before {
    content: "ON";
    position: absolute;
    left: 29px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

/* The sliding knob */
.slider-knob {
    position: absolute;
    height: 54px;
    width: 58px;
    left: -2px;
    top: 0px;
    transition: .3s; 
    background-image: url(_content/OldiOS.Shared/images/uikit/UISwitch_thumb.png);
    z-index: 10;
}
    .slider-knob:active {
        background-image: url(_content/OldiOS.Shared/images/uikit/UISwitch_thumb_pressed.png);
    }

input:checked + .switch-slider {
    background: #007FEA;
}

input:checked + .switch-slider:before {
    opacity: 1;
}

input:checked + .switch-slider:after {
    opacity: 0;
}

input:checked + .switch-slider .slider-knob {
    transform: translateX(100px);
}

input:disabled + .switch-slider {
    cursor: not-allowed;
}
