/* iOS 5 UITableViewCell Styles */

.uitableviewcell {
    display: flex;
    align-items: center;
    padding: 14px 14px;
    /*    border-top: 2px solid #FDFDFD;*/
    box-shadow: #FDFDFD 0px 2px inset; /* use box-shadow instead of border top to avoid the inner content movement when we need to remove it on active*/
    border-bottom: 2px solid #CACACA;
    background-color: #F7F7F7;
    min-height: 86px;
    height: 88px;
    /* transition: background-color 0.1s ease; */
}

.uitableviewcell:first-child {
    box-shadow: none;
}

.uitableviewcell:last-child {
    border-bottom: 0px none;
    height: 86px;
}

.uitableviewcell.selectable {
    cursor: pointer;
}
.uitableviewcell.selectable:active {
    /* background-color: #d0d3d9; */
    background-image: url(images/uikit/UITableSelection@2x.png);
    background-size: 2px 86px;
    background-repeat: repeat-x; 
    box-shadow: none;
}

.cell-icon {
    margin-right: 20px;
    flex-shrink: 0;
}

.cell-icon img {
    width: 86px;
    height: 86px;
    border-radius: 6px;
    display: block;
}

.cell-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.cell-text {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2;
}
.uitableviewcell.selectable:active .cell-text {
        color: white;
}

.cell-detail {
    color: #4c5c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1.2;
}

.cell-accessory {
    margin-left: 20px;
    font-weight: 300;
}

.cell-accessory.disclosure {
    width: 20px;
    height: 26px;
    background-image: url(images/uikit/UITableNext@2x.png);
}

.cell-accessory.checkmark {
    color: #007aff;
    font-size: 44px;
    font-weight: bold;
}

.cell-toggle {
    margin-left: 20px;
}

.cell-track-number {
    color: #4c5c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    width: 60px;
    text-align: center;
    flex-shrink: 0;
}

.cell-right-detail {
    color: #4c5c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin-left: 20px;
    flex-shrink: 0;
}
