/* iOS 5 UITableViewSection Styles */

.uitableview-section {
    margin-bottom: 46px;
}

.section-header {
    color: #4c5c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 0 30px 16px 30px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}

.section-content {
    position: relative;
    background-color: #F5F5F5;
    border-radius: 20px;
    overflow: visible;
}

    .section-content ::deep > :first-child {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .section-content ::deep > :last-child {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .section-content::before,
    .section-content::after {
        content: "";
        position: absolute;
        pointer-events: none; /* Ensure pseudo-elements don't interfere with interaction */
    }

    /* Outer black shadow */
    .section-content::before {
        inset: 0;
        border-radius: 20px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.22);
    }

    /* Outer bottom white highlight using a border */
    .section-content::after {
        left: 0px;
        right: 0px;
        bottom: -4px;
        top: 0;
        border-top: 2px solid rgba(0, 0, 0, 0.09); /* for the inner top shadow */
        border-bottom: 2px solid rgba(255, 255, 255, 0.79);
        border-radius: 20px;
    }

.section-footer {
    color: #4c5c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    padding: 16px 30px 0 30px;
    line-height: 1.4;
}
