/* iOS 5 UITableView Styles */

.uitableview {
    width: 100%;
    background-image: url(/_content/OldiOS.Shared/images/uikit/UIPinstripe.png);
}

.uitableview.grouped {
    padding: 30px 20px;
}

.uitableview.plain {
    background-color: white;
}
