/* iOS 5 UITableViewCell Styles */

.uitableviewcell {
    display: flex;
    align-items: center;
    padding: 14px 14px;
    border-top: 2px solid #FCFCFC;
    border-bottom: 2px solid #BEBEBE;
    background-color: #F5F5F5;
    cursor: pointer;
    min-height: 88px;
    /* transition: background-color 0.1s ease; */
}

.uitableviewcell:first-child {
    border-top: none;
}

.uitableviewcell:last-child {
    border-bottom: none;
}

.uitableviewcell:active {
    /* background-color: #d0d3d9; */
    background-image: url(_content/OldiOS.Shared/images/uikit/UITableSelection@2x.png);
    background-size: 2px 86px;
    background-repeat: repeat-x;
}

.cell-icon {
    margin-right: 20px;
}

.cell-icon img {
    width: 58px;
    height: 58px;
    border-radius: 6px;
}

.cell-content {
    flex: 1;
    display: flex;
    flex-grow: 1;
}

.cell-text {
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    font-weight: bold;
    flex-grow: 1;
}
.uitableviewcell:active .cell-text {
        color: white;
}

.cell-detail {
    color: #4c5c6c;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 28px;
    margin-top: 4px;
}

.cell-accessory {
    margin-left: 20px;
    font-weight: 300;
}

.cell-accessory.disclosure {
    width: 20px;
    height: 26px;
    background-image: url(_content/OldiOS.Shared/images/uikit/UITableNext@2x.png);
}

.cell-accessory.checkmark {
    color: #007aff;
    font-size: 44px;
    font-weight: bold;
}

.cell-toggle {
    margin-left: 20px;
}
