.ui-webview-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ui-webview-iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
}

.ui-webview-placeholder {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    /* Light gray/white */
    background-image: linear-gradient(to bottom, #fff, #e0e0e0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ui-webview-snapshot {
    width: 100%;
    height: 100%;
    object-fit: cover;
}