.navigation-controller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navigation-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    transition: transform 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
    z-index: 1;
}

.navigation-view:not(.active) {
    display: none;
}

.navigation-view.active {
    z-index: 2;
    display: block;
}

.navigation-view.slide-in {
    transform: translateX(100%);
    animation: slide-in 0.35s forwards cubic-bezier(0.4, 0.0, 0.2, 1);
}

.navigation-view.slide-out {
    animation: slide-out 0.35s forwards cubic-bezier(0.4, 0.0, 0.2, 1);
}

.navigation-view.slide-in-reverse {
    animation: slide-in-reverse 0.35s forwards cubic-bezier(0.4, 0.0, 0.2, 1);
}

.navigation-view.slide-out-reverse {
    transform: translateX(100%);
    animation: slide-out-reverse 0.35s forwards cubic-bezier(0.4, 0.0, 0.2, 1);
}

@keyframes slide-in {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes slide-out {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

@keyframes slide-in-reverse {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes slide-out-reverse {
    from { transform: translateX(0); }
    to { transform: translateX(100%); }
}

.navigation-view .settings-general-app .uinavigationbar {
    animation: fade-in 0.35s forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
