/* iOS 5 UILabel Styles */

.uilabel {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 1.4;
}

/* Text Styles */
.uilabel.title {
    font-size: 44px;
    font-weight: bold;
}

.uilabel.headline {
    font-size: 38px;
    font-weight: 600;
}

.uilabel.body {
    font-size: 34px;
    font-weight: normal;
}

.uilabel.subheadline {
    font-size: 30px;
    font-weight: normal;
}

.uilabel.footnote {
    font-size: 26px;
    font-weight: normal;
    color: #8e8e93;
}

.uilabel.caption {
    font-size: 22px;
    font-weight: normal;
    color: #8e8e93;
}

/* Text Alignment */
.uilabel.align-left {
    text-align: left;
}

.uilabel.align-center {
    text-align: center;
}

.uilabel.align-right {
    text-align: right;
}

/* Font Weight */
.uilabel.bold {
    font-weight: bold;
}

.uilabel.italic {
    font-style: italic;
}
