/* iOS 5 UITableView Styles */

.uitableview {
    width: 100%;
    background-color: #c8cdd5;
}

.uitableview.grouped {
    padding: 30px 20px;
}

.uitableview.plain {
    background-color: white;
}
