@using OldiOS.Shared.Apps.UIKit

<div class="settings-about-app">
    <UINavigationBar Title="About" BackButtonText="General" OnBackClick="@HandleBack" />
    
    <div class="navigation-view-content">
        <UITableView Grouped="true">
            <UITableViewSection>
                <UITableViewCell Text="Name" Detail="@deviceName" ShowDisclosure="true" />
            </UITableViewSection>

            <UITableViewSection>
                <UITableViewCell Text="Network" Detail="Not Available" />
                <UITableViewCell Text="Songs" Detail="0" />
                <UITableViewCell Text="Videos" Detail="0" />
                <UITableViewCell Text="Photos" Detail="0" />
                <UITableViewCell Text="Applications" Detail="0" />
                <UITableViewCell Text="Capacity" Detail="12.9 GB" />
                <UITableViewCell Text="Available" Detail="11.5 GB" />
                <UITableViewCell Text="Version" Detail="5.1.1 (9B206)"/>
                <UITableViewCell Text="Carrier" Detail="Not Available" />
                <UITableViewCell Text="Model" Detail="MD234X" />
                <UITableViewCell Text="Serial Number" Detail="DLXK12345678" />
                <UITableViewCell Text="Wi-Fi Address" Detail="00:00:00:00:00:00" />
                <UITableViewCell Text="Bluetooth" Detail="00:00:00:00:00:00" />
                <UITableViewCell Text="IMEI" Detail="00 000000 000000 0" />
                <UITableViewCell Text="Modem Firmware" Detail="0.0.00" />
            </UITableViewSection>
            
            <UITableViewSection>
                <UITableViewCell Text="Diagnostics & Usage" ShowDisclosure="true" />
                <UITableViewCell Text="Legal Notices" ShowDisclosure="true" />
                <UITableViewCell Text="Regulatory" ShowDisclosure="true" />
                <UITableViewCell Text="License" ShowDisclosure="true" />
            </UITableViewSection>
        </UITableView>
    </div>
</div>

@code {
    private string deviceName = "iPhone";
    
    [Parameter]
    public EventCallback OnBack { get; set; }
    
    private async Task HandleBack()
    {
        await OnBack.InvokeAsync();
    }
}