.settings-app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #c8cdd5;
}

.settings-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}
