@using OldiOS.Shared.Apps.UIKit

<ViewNavigator @ref="navigator">
    <RootView>
        <div class="settings-app">
            <UINavigationBar Title="Settings" />
            
            <div class="navigation-view-content">
                <UITableView Grouped="true">
                    <UITableViewSection>
                        <UITableViewCell Text="Airplane Mode" ShowToggle="true" ToggleValue="false" Icon="_content/OldiOS.Shared/images/Applications/Preferences/Settings-Air@2x.png" ToggleOnTrackColor="#FF8000" />
                        <UITableViewCell Text="Wi-Fi" Detail="Not Connected" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/airport@2x.png" />
                        <UITableViewCell Text="Notifications" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/notifications_icon@2x.png" />
                        <UITableViewCell Text="Location Services" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/Location@2x.png" IsLast="true" />
                    </UITableViewSection>
                    
                    <UITableViewSection>
                        <UITableViewCell Text="Sounds" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/Settings-Sound@2x.png" />
                        <UITableViewCell Text="Brightness" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/Settings-Display@2x.png" />
                        <UITableViewCell Text="Wallpaper" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/wallpaper@2x.png" IsLast="true" />
                    </UITableViewSection>
                    
                    <UITableViewSection>
                        <UITableViewCell Text="General" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/Settings@2x.png" OnClick="@(() => GoToGeneral())" />
                        <UITableViewCell Text="iCloud" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/cloud@2x.png" />
                        <UITableViewCell Text="Mail, Contacts, Calendars" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/mmc@2x.png" />
                        <UITableViewCell Text="Twitter" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/twitter@2x.png" />
                        <UITableViewCell Text="Phone" Detail="No SIM" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/phone@2x.png" />
                        <UITableViewCell Text="FaceTime" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/vc@2x.png" />
                        <UITableViewCell Text="Safari" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/safari@2x.png" />
                        <UITableViewCell Text="Messages" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/sms@2x.png" />
                        <UITableViewCell Text="Music" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/music@2x.png" />
                        <UITableViewCell Text="Videos" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/video@2x.png" />
                        <UITableViewCell Text="Photos" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/photos@2x.png" />
                        <UITableViewCell Text="Notes" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/notes@2x.png" />
                        <UITableViewCell Text="Store" ShowDisclosure="true" Icon="_content/OldiOS.Shared/images/Applications/Preferences/AppStore@2x.png" IsLast="true" />
                    </UITableViewSection>
                </UITableView>
            </div>
        </div>
    </RootView>
</ViewNavigator>

@code {
    private ViewNavigator navigator = null!;

    private async Task GoToGeneral()
    {
        await navigator.Push(RenderGeneralSettings());
    }

    private RenderFragment RenderGeneralSettings() => builder =>
    {
        builder.OpenComponent<GeneralSettings>(0);
        builder.AddAttribute(1, "OnBack", EventCallback.Factory.Create(this, () => navigator.Pop()));
        builder.AddAttribute(2, "OnNavigate", EventCallback.Factory.Create<RenderFragment>(this, (fragment) => navigator.Push(fragment)));
        builder.CloseComponent();
    };
}
