@* iOS 5 Compass App *@

<div class="compass-app">
    <div class="compass-content">
        <div class="compass-display">
            <div class="compass-circle">
                <div class="compass-needle">
                    <img src="_content/OldiOS.Shared/images/icons/compass-needle.png" alt="Needle" style="width: 100%; height: 100%;" />
                </div>
                <div class="compass-directions">
                    <div class="direction north">N</div>
                    <div class="direction east">E</div>
                    <div class="direction south">S</div>
                    <div class="direction west">W</div>
                </div>
            </div>
            <div class="heading-display">
                <div class="heading-value">0°</div>
                <div class="heading-label">North</div>
            </div>
        </div>
        
        <div class="compass-footer">
            <div class="location-info">
                <div class="coordinate-label">Latitude</div>
                <div class="coordinate-value">37.7749° N</div>
            </div>
            <div class="location-info">
                <div class="coordinate-label">Longitude</div>
                <div class="coordinate-value">122.4194° W</div>
            </div>
        </div>
    </div>
</div>

@code {
    
}
